
@import models.db.User
@*//@(UserForm: Form[User])*@

<html>
    <head>
        <title>login</title>

        <link href="@routes.Assets.at("../../../public/assets/images/favicon.ico")" rel="apple-touch-icon" type="image/png" sizes="144x144"><link href="assets/images/favicon.ico" rel="apple-touch-icon" type="image/png" sizes="114x114">
        <link href="@routes.Assets.at("../../../public/assets/images/favicon.ico")" rel="apple-touch-icon" type="image/png" sizes="72x72">
        <link href="@routes.Assets.at("../../../public/assets/images/favicon.ico")" rel="apple-touch-icon" type="image/png">
        <link href="@routes.Assets.at("../../../public/assets/images/favicon.ico")" rel="icon" type="image/png">
        <link href="@routes.Assets.at("../../../public/assets/images/favicon.ico")" rel="shortcut icon">

            <!-- Global stylesheets -->
        <link href="@routes.Assets.at("../../../public/fonts/fonts.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/assets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/animate.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/bootstrap.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/main.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/bootstrap-extended.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/plugins.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/color-system.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/css/media.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/assets/weather/weather-icons.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("../../../public/assets/weather/weather-icons-wind.min.css")" rel="stylesheet" type="text/css">
            <!-- /global stylesheets -->
    </head>
    <body>

        <div class="page-container login-container" style="min-height:621px">
            <!-- Page content -->
        <div class="page-content">

                <!-- Main content -->
            <div class="content-wrapper">

                    <!-- Content area -->
                <div class="content">

                    <div class="tabbable panel login-form width-400">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="login_tabbed.htm#basic-tab1" data-toggle="tab" aria-expanded="true"><h6><i class="fa fa-check position-left"></i> Already a user?</h6></a></li>
                            <li class=""><a href="login_tabbed.htm#basic-tab2" data-toggle="tab" aria-expanded="false"><h6><i class="fa fa-plus position-left"></i> Create an account</h6></a></li>
                        </ul>

                        <div class="tab-content panel-body">
                            <div class="tab-pane fade active in" id="basic-tab1">

                                @for(key <- Array("danger", "success", "info", "warning")){
                                    @if(flash.containsKey(key)) {
                                        <div class="alert alert-@key">
                                            @flash().get(key)
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-remove"></i></a>
                                        </div>
                                    }
                                }

                                <form action="@routes.UserController.verifyUser()" method="get">
                                    <div class="text-center">
                                        <div class="icon-object border-info-300 text-info-300"><i class="fa fa-user"></i></div>
                                        <h5 class="content-group">Login to your account <small class="display-block">Please put your credentials</small></h5>
                                    </div>

                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type="text" class="form-control" placeholder="Email" name="email" required="required">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-envelope text-muted"></i>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type="password" class="form-control" placeholder="Password" name="userPassword" required="required">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-lock text-muted"></i>
                                        </div>
                                    </div>

                                    <div class="login-options">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="checkbox ml-5">
                                                    <label>
                                                        <input type="checkbox" class="styled" checked="checked">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 text-right mt-10">
                                                <a href="http://localhost/templates/bird/theme/login_password_recover.html">Forgot password?</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-lg btn-labeled btn-labeled-right btn-block"><b><i class="fa fa-sign-in"></i></b> Sign in</button>
                                    </div>
                                </form>

                                <div class="login-options">
                                    <div class="content-divider text-muted form-group"><span>or sign in with</span></div><br />
                                    <ul class="list-inline social-icons form-group list-inline-condensed text-center">
                                        <li><a href="login_tabbed.htm#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="login_tabbed.htm#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="login_tabbed.htm#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="basic-tab2">

                                <form action="@routes.UserController.saveUser()" method="post">
                                    <div class="text-center">
                                        <div class="icon-object border-success text-success"><i class="fa fa-plus"></i></div>
                                        <h5 class="content-group">Create new account <small class="display-block">All fields are required</small></h5>
                                    </div>

                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type="text" class="form-control" placeholder="Your username" name="userName" required="required">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-user text-muted"></i>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type="text" class="form-control" placeholder="Create password" name="userPassword" required="required">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-lock text-muted"></i>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback has-feedback-left">
                                        <input type="text" class="form-control" placeholder="Your email" name="email" required="required">
                                        <div class="form-control-feedback">
                                            <i class="fa fa-envelope text-muted"></i>
                                        </div>
                                    </div>

                                    @*<div class="form-group" style="padding:15px;">*@
                                        @*<div class="checkbox ml-10">*@
                                            @*<label>*@
                                                @*<input type="checkbox" class="styled" checked="checked">*@
                                                @*Send me test account settings*@
                                            @*</label>*@
                                        @*</div>*@
                                        @*<div class="checkbox ml-10">*@
                                            @*<label>*@
                                                @*<input type="checkbox" class="styled" checked="checked">*@
                                                @*Subscribe to monthly newsletter*@
                                            @*</label>*@
                                        @*</div>*@
                                        @*<div class="checkbox ml-10">*@
                                            @*<label>*@
                                                @*<input type="checkbox" class="styled" checked="checked">*@
                                                @*Accept terms of service*@
                                            @*</label>*@
                                        @*</div>*@
                                    @*</div>*@

                                    <button type="submit" class="btn btn-success btn-lg btn-labeled btn-labeled-right btn-block"><b><i class="fa fa-user-plus"></i></b> Register</button>
                                </form>
                            </div>
                        </div>
                    </div>

                        <!-- Footer -->
                    <div class="footer text-muted">
                                &copy; 2016 Bird - Admin theme by <a href="http://followtechnique.com/" target="_blank">FollowTechnique</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Version - 1.0.0
                    </div>
                        <!-- /footer -->

                </div>
                    <!-- /content area -->

            </div>
                <!-- /main content -->

        </div>
            <!-- /page content -->
    </div>

        <script>
                $(function() {
                    $(".styled, .multiselect-container input").uniform({
                        radioClass: 'choice'
                    });
                });
        </script>



            <!-- Core JS files -->
        <script src="@routes.Assets.at("../../../public/js/jquery.min.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/fancybox.min.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/app.js")"></script>
        <script src="@routes.Assets.at("https://maps.googleapis.com/maps/api/js?v=3.exp")"></script>
        <script src="@routes.Assets.at("https://www.google.com/jsapi")"></script>
        <script src="@routes.Assets.at("../../../public/js/maps/jvectormap/jvectormap.min.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/maps/jvectormap/map_files/world.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/dashboard.js")"></script>
        <script src="@routes.Assets.at("../../../public/js/maps/google/markers/symbols_custom.js")"></script>
    </body>
</html>